<script>
    setCookie("CURRENT_TYPE", "2"); // Phone
    $(document).ready(function(){
        $("#btnCash, #btnCard").hide();
    });
</script>
<style>
    #tabCus{width: 100%;}
    #tabCusSingle, #tabCusMultiple, #tabCusPhone{width:33%; border: solid 1px black; padding:20px; float: left;
    text-align: center; text-transform: uppercase; cursor: pointer; 
    }
    
    .tabCurrent, #tabCusSingle:hover, #tabCusMultiple:hover, #tabCusPhone:hover{ background-color: chartreuse; font-weight: bold;}
</style>
<input type="hidden" id="orderType" value="3" />
<div id="tabCus">
    <div id="tabCusSingle" >
        <a href="./dashboard">Single</a>
    </div>
    <div id="tabCusMultiple">
        <!-- <a href="./dashboard-2">Wholesale</a></div> -->
        <a href="./dashboard-2">Corporate</a></div>
    <div id="tabCusPhone" class="tabCurrent">
        <!-- <a href="./dashboard-3">Phone</a></div> -->
        <a href="./dashboard-3">Phone</a></div>
    <div style="display:block; clear: both; width: 100%; height:15px"></div>
</div>

<div class="rowCustomerTypes">
    <div id="rowPhone">
        <input type="text" id="txtOrderName" placeholder="Who is ordering?" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pickup time
        <select id="slHour">
            <option value="-1">Hour&nbsp;&nbsp;&nbsp;</option>
            <option value="0">00</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select> : 
        <select id="slMinute">
            <option value="-1">Minute</option>
            <option value="0">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
    </div>
</div>
<div id="listViewArea">
    <table id="tbOrders">
        <!-- <tr>
            <td width="50%">
                <div class="tbOrders_itemName">
                    Capuchino
                </div>
                <div class="tbOrders_Options">
                    Full cream (1.5$), less sugar (0$)
                </div>
            </td>
            <td width="15%">x1</td>
            <td width="15%">
                <input type="text" class="tbOrders_dicountAmount" value="0" />
                <img src="./btnSave.png" class="btnUpdateDiscount" />
            </td>
            <td width="30%">
                <div id="tbOrders_total">100$</div>
            </td>
        </tr>  -->
    </table>
</div>